<h1 id="overview">API for <span class="namespace-name">my-namespace</span></h1>
by <span class="author">the author</span>
Usage:
<pre>
(ns your-namespace
  (:require <span class="long-name">my-namespace</span>))
<pre>
<h2>Overview</h2>
<div class="namespace-docstr">docstr here</div>
<span class="see-also">See also: 
  <span class="see-also-link">
    <a href="see-also-tag">see-also-text</a>
  </span>
</span>
<span class="external-doc">Related documentation: 
  <span class="external-doc-link">
    <a href="external-doc-tag">external-doc-text</a>
  </span>
</span>
<h2>Public Variables and Functions</h2>
<div class="var-entry">
  <hr />
  <h2 class="var-tag">Var-name</h2>
  <span class="var-type">Type goes here (var, multimethod, etc.)</span>
  <pre class="var-usage">Arglists go here</pre>
  <div class="var-docstr">docstr here</div>
  <a class="var-source" href="link goes here">Source</a>
</div>
<div class="sub-namespaces"></div>

