<hr />
<h2 class="namespace-name">Sub-namespace</h2>
<div class="namespace-docstr">docstr here</div>
<span class="see-also">See also: 
  <span class="see-also-link">
    <a href="see-also-tag">see-also-text</a>
  </span>
</span>
<div class="var-entry">
  <hr />
  <h2 class="var-tag">Var-name</h2>
  <span class="var-type">Type goes here (var, multimethod, etc.)</span>
  <pre class="var-usage">Arglists go here</pre>
  <div class="var-docstr">docstr here</div>
  <a class="var-source" href="link goes here">Source</a>
</div>
